/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) 2010-2016 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
.page-title-wrapper {
	display: none;
}
.wk-mp-header {
	color: #FFFFFF;
	padding: 7.5%;
	text-align: center;
}
.wk-mp-header h1 {
	font-size: 1.9em;
	color: #FFFFFF;
	margin: .5em 0;
	font-weight: bold;
	word-wrap: break-word;
}
.wk-mp-header h2 {
	font-size: 20px;
	color: #FFFFFF;
	text-transform: inherit;
	margin: .5em 0;
	font-weight: 600;
}
.wk-list-container-wrapper {
	padding: 3% 0;
	width: 65%;
	display: inline-block;
}
.wk-list-container-registration {
	background-color: #FFFFFF;
}
.wk-text-transform-left {
	text-align: left;
}
.wk-text-transform-center {
	text-align: center;
}
@media(min-width: 1001px) {
	.wk-mp-landingpage .wk-list-container {
		padding: 1%;
		float:left;
		width: 48%;
	}
}
@media(max-width: 1000px) {
	.wk-mp-landingpage .wk-list-container {
		width: 100%;
	}
}
.wk-mp-landingpage ul li:before {
    content: '';
    display: inline-block;
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    margin-left: -35px;
    background-image: url('../images/landingpage1/icon/sell-page-2-sprite.png');
}
.wk-icon1:before {
	background-position: 0 0;
}
.wk-icon2:before {
	background-position: -50px 0;
}
.wk-icon3:before {
	background-position: -100px 0;
}
.wk-icon4:before {
	background-position: -150px 0;
}
.wk-icon5:before {
	background-position: -200px 0;
}
.wk-icon6:before {
	background-position: 0 -50px;
}
.wk-icon7:before {
	background-position: -50px -50px;
}
.wk-icon8:before {
	background-position: -100px -50px;
}
.wk-icon9:before {
	background-position: -150px -50px;
}
.wk-icon10:before {
	background-position: -200px -50px;
}
.wk-icon-check:before {
	background-position: 0 -100px;
	width: 28px!important;
	height: 25px!important;
}
.wk-mp-landingpage ul {
	width: 90%;
}
.wk-mp-landingpage ul li {
	list-style: none;
	vertical-align: top;
	text-align: left;
}
.wk-mp-landingpage ul li .wk-icon-span {
	font-size: 16px;
	font-weight: 600;
	color: #4F9DD5;
	vertical-align: top;
}
.wk-mp-landingpage ul li .wk-icon-div {
    margin-top: -27px;
    margin-left: 20px;
    font-size: 12px;
    color: #807E7E;
}
.wk-mp-landingpage .wk-icon-check-span {
	font-size: 16px;
	font-weight: 600;
	color: #807E7E;
	vertical-align: top;
}
.wk-list-container-class {
	width: 100%;
	background-color: #f4f4f4;
}
.wk-list-container-feature-label {
	font-size: 18px;
	font-weight: 600;
	color: #6B6767;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.wk-mp-landingpage .form.create.account {
	width: 100%;
	min-width: 100%;
	color: #807E7E;
}
.wk-mp-landingpage .form.create.account .legend, .newsletter, br {
	display: none!important;
}
.wk-mp-landingpage .form.create.account .fieldset {
	margin-bottom: 0;
}
.wk-mp-landingpage .form.create.account .info .field,
.wk-mp-landingpage .form.create.account .account .password,
.wk-mp-landingpage .form.create.account .account .confirmation {
	width: 48%;
	padding-right: 1%;
	float: left;
}
.wk-mp-landingpage .form.create.account .field {
	margin-bottom: 10px;
}
.wk-mp-landingpage .form.create.account .account .password,
.wk-mp-landingpage .form.create.account .account .confirmation {
	margin-bottom: 30px;
}
.wk-mp-landingpage .form.create.account .account input[type=email]{
	width: 97%;
}
.wk-mp-landingpage .primary {
	padding: 10px;
	text-transform: uppercase;
}
.column.main {
	min-height: 0!important;
}
#wk-termsconditions-box, .profileurl {
	display: inline-block;
}
.wk-mp-landing-button {
	background-color: #fff!important;
	border-radius: 0!important;
	text-transform: uppercase!important;
	font-size: 14px!important;
}
.wk-mp-landing-button strong{
	color: #4F9DD5!important;
}
.wk-mp-header h1 {	
	text-transform: uppercase!important;
}
#wantptr {
	display: inline-block!important;
}