<?php 
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) 2010-2016 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

// @codingStandardsIgnoreFile

/** @var $block \Webkul\Marketplace\Block\Transaction\History */

$paramData = $this->getRequest()->getParams();
$filterDateTo = '';
$filterDateFrom = '';
$trId = '';
if(isset($paramData['tr_id'])){
    $trId = $paramData['tr_id'] != ""?$paramData['tr_id']:"";
}
if(isset($paramData['from_date'])){
    $filterDateFrom = $paramData['from_date'] != ""?$paramData['from_date']:"";
}
if(isset($paramData['to_date'])){
    $filterDateTo = $paramData['to_date'] != ""?$paramData['to_date']:"";
} ?>
<div class="wk-mp-design">
	<fieldset class="fieldset info wk-mp-fieldset">
		<legend class="legend"><span><?php echo __('Transaction List') ?></span></legend>
		<div class="grid">
			<div class="hor-scroll">
				<b><?php echo __('Remaining Transactions:') ?></b> &nbsp <?php echo $block->getFormatedPrice($block->getRemainTotal());?>
				<form action="<?php echo $block->getCurrentUrl();?>" method="get">
					<table cellspacing="0" class="border wk-mp-list-table">
					    <thead>
					        <tr id="wk-mp-tr-heading">
					            <th><span><?php echo __('Transaction Id') ?></span></th>
					            <th><span><?php echo __('Date') ?></span></th>
					            <th><span>&nbsp;</span></th>
					        </tr>
					    </thead>
					    <tbody class="wk-mp-body">
					    	<tr>
					    		<td>
					    			<input type="text" class="input-text" name="tr_id" placeholder='<?php echo __('Search by Transaction Id') ?>' value="<?php echo $trId?>"/>
					    		</td>
					    		<td>
					    			<span class="wk-mp-td-span">
					    				<input name="from_date" id="special-from-date" class="input-text" value="<?php echo $filterDateFrom?>" type="text" placeholder='<?php echo __('Date From') ?>'/>
					    			</span>				    			
					    			<span class="wk-mp-td-span">
					    				<input name="to_date" id="special-to-date" class="input-text" value="<?php echo $filterDateTo?>" type="text" placeholder='<?php echo __('Date To') ?>'/>
					    			</span>
					    		</td>
					    		<td class="wk-mp-td-last">
					    			<button class="button" title="Save" id="save-btn" type="submit">
										<span><span><span><?php echo __('Submit') ?></span></span></span>
									</button>
									<?php
									if($filterDateFrom){
										$fromdate = date_create($filterDateFrom);
	            						$filterDateFromPost = date_format($fromdate, 'Y-m-d H:i:s');
	            					}else{
	            						$filterDateFromPost = '';
	            					}
	            					if($filterDateTo){
	            						$todate = date_create($filterDateTo);
	            						$filterDateToPost = date_format($todate, 'Y-m-d H:i:s');
	            					}else{
	            						$filterDateToPost = '';
	            					}
									?>
									<a href="<?php echo $block->getUrl('marketplace/transaction/downloadCsv', ['from_date'=>$filterDateFromPost,'to_date'=>$filterDateToPost, '_secure' => $this->getRequest()->isSecure()]);?>">
										<button class="button" title="Save" type="button">
											<span><span><span><?php echo __('Download .CSV') ?></span></span></span>
										</button>
									</a>
					    		</td>
					    	</tr>
					    </tbody>
					</table>
				</form>
				<?php 
				if(count($block->getAllTransaction())==0){ ?>		
					<div class="fieldset wk-mp-fieldset">
						<div class="wk-emptymsg">
							<?php echo __('No Transaction Available') ?>
						</div>
					</div>
					<?php 
				} else{ ?>
					<table cellspacing="0" class="border wk-mp-list-table wk-mp-list-container-table">
					    <thead>
					        <tr class="wk-content">
					    		<th class="wk-first-td">
					    			<span class="label">
										<?php echo __('Date')?>
									</span>
					    		</th>
					    		<th>
					    			<span class="label">
										<?php echo __('Transaction Id')?>
									</span>
					    		</th>
					    		<th>
					    			<span class="label name">
										<?php echo __('Comment Message')?>
									</span>
					    		</th>
					    		<th>
					    			<span class="label">
										<?php echo __('Transaction Amount')?>
									</span>
					    		</th> 
					    		<th>
					    			<span class="label">
										<?php echo __('Action')?>
									</span>
					    		</th>   		
					    	</tr>
					    </thead>
					    <tbody>
					    	<?php 
					    	$i = 0;
							foreach($block->getAllTransaction() as $transactioncoll){
								$i++;
								?>
						    	<tr class="wk-row-view <?php echo $class = ($i == count($block->getAllTransaction()))? 'wk-last-tr':''?>">
						    		<td class="wk-first-td">
										<span class="label">
											<?php echo  $block->formatDate($transactioncoll->getCreatedAt())  ; ?>
										</span>	
						    		</td>
						    		<td>
										<span class="label">
											<?php echo $transactioncoll->getTransactionId(); ?>
										</span>	
						    		</td>								    		
									<td>
										<?php
										if($transactioncoll->getCustomNote()){
											$customnote = $transactioncoll->getCustomNote();
										}else{
											$customnote = __('None');
										}
										?>
										<span class="label name">
											<?php	
											 echo "<span class='bol'>". $customnote. "</span>" ;
										?>
										</span>	
									</td>
									<td>
										<span class="label price">
											<?php 
											echo $block->getFormatedPrice($transactioncoll->getTransactionAmount());
											?>
										</span>	
						    		</td>
						    		<td>
										<span class="label">
											<a href="<?php echo $block->getUrl('marketplace/transaction/view', ['id'=>$transactioncoll->getId(), '_secure' => $this->getRequest()->isSecure()])?>"><?php echo __('View');?></a>
										</span>	
						    		</td>
						    	</tr>
						    	<?php
						    }?>
					    </tbody>
					</table>
					<?php
				}?>
			</div>
		</div>	
		<?php if ($block->getPagerHtml()): ?>
	        <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
	    <?php endif ?>	
	</fieldset>
</div>
<div class="buttons-set">
	<p class="back-link">
		<a href="javascript:;" onclick="javascript: window.history.back();" class="left">&laquo; <?php echo __('Back') ?></a>
	</p>
</div>

<script>
    require([
        "jquery",
        "mage/mage",
    	'mage/calendar'
    ], function($){
        $("#special-from-date").calendar({'dateFormat':'mm/dd/yy'});
		$("#special-to-date" ).calendar({'dateFormat':'mm/dd/yy'});
	});    
</script>
