<?php 
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) 2010-2016 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
$paramData = $this->getRequest()->getParams();
?>
<iframe width="100%" height="550" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="//maps.google.com/maps?q=<?php echo $paramData['loc'];?>&amp;output=embed"></iframe>
<br />
<small>
	<a href="//maps.google.com/maps?q=<?php echo $paramData['loc'];?>" class="wk_loc_inf"><?php echo __('View Larger Map') ?></a>
</small>
