<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) 2010-2016 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<!--@subject Product Approved Notification  @-->
<!--@vars {
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "%customer_name," customer_name=$myvar5}}</p>
            <p>
                {{trans "I would like to inform you that your product has been approved."}}
            </p>
        </td>
    </tr>
    <tr class="email-summary">
        <td>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            <table class="product-name">
                <tr>
                    <td class="product-details">
                        <h3>{{trans "Product Name"}}</h3>
                        <p>{{var myvar1|raw}}</p>
                    </td>
                     <td class="product-details">
                        <h3>{{trans "Category"}}</h3>
                        <p>{{var myvar4|raw}}</p>
                    </td>
                </tr>
            </table>
            <table class="product-desc">
                <tr>
                    <td class="product-details">
                        <h3>{{trans "Product Description"}}</h3>
                        <p>{{var myvar2|raw}}</p>
                    </td>
                     <td class="product-details">
                        <h3>{{trans "Price"}}</h3>
                        <p>{{var myvar3|raw}}</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}